body {
background-color: #002635;
background-image: url(img/purty-wood.png);
margin:0px;
}

@font-face {
    font-family: JWfont;
    src: url(Recto_Outline.ttf);
}

@font-face {
    font-family: RS;
src: url(RemachineScript.ttf);
}

h1 {
text-align: center;
font-family: "RS";
color: #EFE7BE;
font-weight: 100;
font-size: 8vw;
margin: 0;
}

div#wrap{
background-color:#AB1A25;
}

div#enter {
text-align: center;
font-size: 5vw;
font-family: "RS";
}

a {
color: #EFE7BE!important;
font-weight:normal;
}

.embed-container { position: relative; padding-bottom: 31.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 25%; width: 50%; height: 100%; }




[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}



a { text-decoration: none; }



p {
	margin-bottom: 1em;
	text-align: justify;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ---------- CLASSES ---------- */

.container {
	margin: 50px auto;
	width: 100%;
}

/* ---------- Social Sidebar ---------- */

#social-sidebar {
	left: 0;
	margin-top: -75px; /* (li * a:width) / -2 */
	position: fixed;
	top: 50%;
	z-index:3;
}

#social-sidebar li:first-child a { border-radius: 0 5px 0 0; }
#social-sidebar li:last-child a { border-radius: 0 0 5px 0; }

#social-sidebar a {
	background: #EFE7BE;
	color: #fff;
	display: block;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 50px;
}

#social-sidebar a:hover span {
	left: 130%;
	opacity: 1;
}

#social-sidebar a span {
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	-webkit-transition: opacity .3s, left .4s;
	-moz-transition: opacity .3s, left .4s;
	-ms-transition: opacity .3s, left .4s;
	-o-transition: opacity .3s, left .4s;
	transition: opacity .3s, left .4s;
	top: 50%;
  white-space: nowrap;
	z-index: -1;
}

#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
	z-index: -2;
}

#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before { background: #00aced; }

#social-sidebar a[class*="dribbble"]:hover,
#social-sidebar a[class*="dribbble"] span,
#social-sidebar a[class*="dribbble"] span:before { background: #ea4c89; }

#social-sidebar a[class*="behance"]:hover,
#social-sidebar a[class*="behance"] span,
#social-sidebar a[class*="behance"] span:before { background: #1769ff; }

@media (max-width: 800px) {
.embed-container {
  position: relative;
  padding-bottom: 31.25%;
  height: 250px;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
}
h1 {
  text-align: center;
  font-family: "RS";
  color: #EFE7BE;
  font-weight: 100;
  font-size: 5em;
  padding-bottom: 20px;
  margin: 0;
}
div#enter {
  text-align: center;
  font-size: 6em;
  font-family: "RS";
  padding-top: 25px;
}
div#wrap {
  background-color: #AB1A25;
  padding-top: 25px;
  padding-bottom: 25px;
}
}


	